.contenedor {
  width: 90%;
  margin: 5%;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-iniciar {
  width: 30%;
  margin: 10%;
  padding: 2%;
  background-color: white;
}

.seccion-iniciar {
  padding: 2%;
}

.campo-iniciar input {
  margin-top: 2%;
}

#boton-iniciar {
  margin-top: 10%;
}

.form-error {
  font-size: 12px;
  color: red;
}
